@import 'variables.scss';

/**
    Global Default Styles
**/
html {
    display: initial;
}

body {
    overflow-x: hidden;
}

h1 {
    color: $theme-primary;
}

li {
    padding: 14px;
}

.section-header {
    text-align: center;
}

.product-page {
    padding: 12px;
}
