@import 'variables.scss';

/**
    Global Default Styles
**/

body {
    overflow-x: hidden;
}

h1 {
    color: $theme-primary;
}

li {
    padding: 14px;
}

.product-page {
    padding: 12px;
}

.product-image-row {
    min-width: 100%;
    display: flex;
    flex-direction: row;
}

.product-image-row-left {
    justify-content: flex-end;
    float: right; 
}

.product-image-row-right {
    justify-content: center;
    float: left; 
}

.product-image-text {
    width: 100%;
    text-align: center;
}

.flex-text-left {
    order: 1;
    flex-basis: 80%;
}

.flex-text-right {
    order: 2;
    flex-basis: 80%;
}

.product-image-center {
    float: center;
    margin: auto;
    width: 100%;
}

.product-image-left {
    order: 1;
    flex-basis: 20%;
}

.product-image-right {
    order: 2;
    flex-basis: 20%;
}