@import 'variables.scss';

/** 
This file is for style rules that overide the global styles on mobile screens 
**/

@media only screen and (max-width: $mobile-screen){

.product-image-center {
    width: 100%;
}

.product-image-left {
    width: 100%;
}

.product-image-right {
    width: 100%;
}

.product-image-row {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.product-image-right {
    order: 0;
}


}